name: CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ '**' ]

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      GOTOOLCHAIN: auto
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.4'
          cache: true

      - name: Go env
        run: go env

      - name: Test
        run: go test ./...

